@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	height:100%;
	background:#ddd;
	text-align:center;
}

#add_eq{
	position:relative;
	width:auto;
	height:auto;
	background-color:#fcf;
	padding:20px;
	margin:50px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

#add_eq input{
	width:50px;
}

#can{
	box-shadow:4px 4px 5px black;
}
